hr {
    height: 3px !important;
    width: 30vw;
    background-color: black;
    margin-left: 0;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

@media (max-width: 800px) {
    .card-horizontal {
        display: block;
    }

    .img-square-wrapper img {
        display: block;
        margin: auto;
    }
}